/* pointers */
.markerTroll {
    background-image: url('../img/pointer/unnamed.png');
    background-size: cover;
    width: 8px;
    height: 6px;
}

.markerFire {
    background-image: url('../img/pointer/Wui-point-bleu-icendie.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.markerClosedRoad {
    background-image: url('../img/pointer/Wui-point-bleu-route-barree.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.markerFleaMarket {
    background-image: url('../img/pointer/Wui-point-bleu-brocante.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.markerAccident {
    background-image: url('../img/pointer/Wui-point-bleu-accident.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.markerTransportProblem {
    background-image: url('../img/pointer/Wui-point-bleu-transportCommun.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
/*.markerVelo {
    background-image: url('/img/pointer/Wui-point-bleu-velo.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}*/
.markerTraficJam {
    background-image: url('../img/pointer/Wui-point-bleu-bouchon.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.markerMarket {
    background-image: url('../img/pointer/Wui-point-bleu-marche.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.markerPickPocket {
    background-image: url('../img/pointer/Wui-point-bleu-pickpocket.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.markerPolice {
    background-image: url('../img/pointer/Wui-point-bleu-police.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.markerFireFighter {
    background-image: url('../img/pointer/Wui-point-bleu-pompier.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.markerStreetArt {
    background-image: url('../img/pointer/Wui-point-bleu-streetArt.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.markerWorkInProgress {
    background-image: url('../img/pointer/Wui-point-bleu-travaux.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.markerDefault {
    background-image: url('../img/pointer/Wui-point-bleu-default.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
}